#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=OpenNIC
GenericName=OpenNIC Wizard
Comment=OpenNIC Wizard is good for the soul.
Exec=/usr/local/bin/opennicui
Terminal=false
Icon=/usr/local/etc/opennic.png
Categories=Internet;Accessories;
StartupNotify=true
